<body>
  <div class="container-fluid">
    <header class="header">
    <app-navbar></app-navbar>
      <!------inicio del banner----------->
    <app-banner></app-banner>
      <!--fin del banner-->
    </header>
    <!--seccion de informacion personal-->
    <aside class="aside">
    <app-informacionpersonal></app-informacionpersonal>
      <!--fin e seccion de informacion personal -->
      <!--inicio de seccion de experiencia laboral-->
    <app-experiencialaboral></app-experiencialaboral>
      <!--fin de la seccion experiencia laboral-->
      <!--inicio de seccion de eduacacion-->
      <app-educacion></app-educacion>
      <!--fin de la seccion de educacion-->
      <!--inicio de softskill and hardskill-->
      <app-hardandsoftskill></app-hardandsoftskill>
      <!--fin de la seccion de soft and hard skill-->
      <!--inicion de la seccion proyecto-->
      <app-proyecto></app-proyecto>
    </aside>
  </div>

</body>