<form class="row g- bg-transparent ">
    <div class="col-4">

    </div>
    <div class="col-3 mx-auto d-block  ">
        <img src="./../../../assets/imagenes/Ankun2.jpg" width="100%" alt="">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control border-0 bg-transparent m-2" id="exampleFormControlInput1"
            placeholder="name@example.com">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="password" class="form-control border-0 bg-transparent m-2" id="inputPassword2" placeholder="Password">
        <button type="submit" class="btn btn-primary text-danger mb-3 border-0 bg-transparent m-2">Login</button>
    </div>
    <div class="col-4">
    </div>
</form>