<div class="row align-items-start border-bottom  border-0 ">
    <div class="col-4">
        <nav class="navbar navbar-expand-md ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./../assets/imagenes/Ankun.jpg" alt="" width="70" height="70">
                </a>
            </div>
        </nav>
    </div>
    <div class="col-2 ">
    </div>
    <div class="col-6">
        <div class="input-group mt-4 w-100 h-50">
            <form class="row g-3 bg-transparent">
                <div class="col-auto">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control border-0 bg-transparent" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="col-10">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control border-0 bg-transparent" id="inputPassword2"
                        placeholder="Password">
                </div>
                <div class="col-auto">
                    <button type="submit"
                        class="btn btn-primary text-danger mb-3 border-0 bg-transparent ">Login</button>
                </div>
            </form>
            <div class="dropdown m-1">
                <button class="btn btn-outline-secondary dropdown-toggle  text-danger border-0" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Redes
                </button>
                <ul class="dropdown-menu bg-black" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item text-light" type="button">facebook.com/alexis.afonso</button></li>
                    <li><button class="dropdown-item text-light" type="button">Twiter/Alexis.Afonso</button></li>
                    <li><button class="dropdown-item text-light" type="button">Instagram-AlexisAfonso</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>