<div class="row align-items-start border-bottom  border-0 ">
    <div class="col-4">
        <nav class="navbar navbar-expand-md ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./../assets/imagenes/Ankun.jpg" alt="" width="70" height="70">
                </a>
            </div>
        </nav>
    </div>
    <div clas="col-4">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="experiencialaboral">Experiencia Laboral</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="educacion">Educacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="hardandsoftskill">Hard and Soft Skill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="proyecto">Proyecto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">login</a>
            </li>
        </ul>
    </div>
    <div class="col-4 justify-content-end">
        <div class="input-group mt-4 w-100 h-50">
            <div class="dropdown m-1">
                <button class="btn btn-outline-secondary dropdown-toggle  text-prymari border-0 " type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Redes
                </button>
                <ul class="dropdown-menu bg-black" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item text-black" type="button">facebook.com/alexis.afonso</button></li>
                    <li><button class="dropdown-item text-black" type="button">Twiter/Alexis.Afonso</button></li>
                    <li><button class="dropdown-item text-black" type="button">Instagram-AlexisAfonso</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>