<div class="row">
    <h2 class="proyectos text-center ">Proyectos</h2>
    <div class="col-4">
        <img src="./../assets/imagenes/Ankun2.jpg" width="300px" alt="">
    </div>
    <div class="col-4">
        <h1 class="ankun text-center">Ankun</h1>
        <h5 class="creative text-center">Creative software</h5>
        <button class="flex-column float-lg-end m-1 bg bg-transparent border-0"><i
                class="fas fa-pencil-alt float-xxl-end m-1"></i></button>
        <button class="flex-column float-lg-end m-1 bg-transparent border-0"><i
                class="fas fa-times float-xxl-end m-1 "></i></button>
        <p class="parrafo-poryecto p-2">Este proyecto nace con la iniciativa de crear software para dar soluciones a
            los problemas cotidianos de usuarios finales, proveyendo a estos de las herramientas necesarias para
            reflejar la información de forma fehaciente y concisa de todos los movimientos de su negocio.</p>
        <p>Fecha inicial del proyecto: 21/06/2022</p>
    </div>
    <div class="col-4">
        <h2 class="objtivo text-center ">Objetivo:</h2>
        <ul class="lista p-5">
            <button class="flex-column float-lg-end m-1 bg bg-transparent border-0"><i
                    class="fas fa-pencil-alt float-xxl-end m-1"></i></button>
            <button class="flex-column float-lg-end m-1 bg-transparent border-0"><i
                    class="fas fa-times float-xxl-end m-1 "></i></button>
            <li>Asesorar sobre la adquisición de hardware para el desarrollo de negocio</li>
            <li>Brindar el software necesario con la finalidad de reflejar la información de forma trasparente.</li>
            <li>Trabajar en conjunto con el usuario final, mejorando así los tiempos de respuestas.</li>
        </ul>
    </div>
</div>