<div class="row bg-transparente ">
    <div class="col-4">
        <div class="card text-center bg-transparent border-0" style="width: 18rem;">
            <img src="./../assets/imagenes/imagen perfil.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Afonso, Alexis Sebastian</h5>
                <p class="card-text">Full Stack Developer jr</p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <button class="flex-column float-lg-end m-1 bg bg-transparent border-0"><i
                class="fas fa-pencil-alt float-xxl-end m-1"></i></button>
        <button class="flex-column float-lg-end m-1 bg-transparent border-0"><i
                class="fas fa-times float-xxl-end m-1 "></i></button>
        <p class="lead text-start text-wrap m-3 bg-">
            Mi nombre es Alexis Sebastian Afonso tengo 39 años, de nacionalidad argentina soy tencnico en reparacion y
            mantenimiento informatico.
            actualmente trabajo en una empresa que se dedica al desarrollo de software y hardware para la toma de
            apuestas de loteria,
            tambien realizamos instalaciones satelitales y enlaces con tecnologia Ubiquiti.
        </p>
    </div>
</div>