<body>
    <div class="container-fluid">
        <header class="header">
            <app-navbar></app-navbar>


            <app-banner></app-banner>

        </header>

        <aside class="aside">
            <app-informacionpersonal></app-informacionpersonal>

            <app-experiencialaboral></app-experiencialaboral>

            <app-educacion></app-educacion>

            <app-hardandsoftskill></app-hardandsoftskill>

            <app-proyecto></app-proyecto>
        </aside>
    </div>

</body>