<div class="row m-2">
    <h3 class="titul3 text-center">Educación</h3>
    <ul>
        <button class="flex-column float-lg-end m-1 bg bg-transparent border-0"><i
                class="fas fa-pencil-alt float-xxl-end m-1"></i></button>
        <button class="flex-column float-lg-end m-1 bg-transparent border-0"><i
                class="fas fa-times float-xxl-end m-1 "></i></button>
        <li> Estudios Primarios Completo: Escuela primaria numero 39 "Nicolas Avellaneda" (Anguil - La Pampa)</li>
        <li> Estudios Secundarios Completo: "Enrique Stiebens", Titulo Bachiller en tecnologias bancarias (Anguil - La
            Pampa)</li>
        <li> Reparacion y Mantenimiento Informatico: "UNLPAM" (Universidad Nacional de La Pampa)</li>
        <li>Programador Inicial Web: UTN (Universidad de tecnologia Nacional)</li>
        <li> Curso Full Stack Developer jr Argentina Programa (Ministerio de Desarrollo de la Nacion)</li>
    </ul>
</div>