<div class="row text-center bg-transparent">
    <h3>Experiencia laboral</h3>
    <div class="card-group">
        <div class="card bg-transparent border-0">
            <img src="./../assets/imagenes/logoagontech.jpg" class="card-img w-50 rounded-circle" alt="...">
            <div class="card-body">
                <h5 class="card-title text-start">Agontech</h5>
                <p class="card-text text-start">(2006 - 2008) Reparacion y mantenimiento de pc y redes</p>
            </div>
        </div>
        <div class="card bg-transparent border-0">
            <img src="./../assets/imagenes/logoang.jpg" class="card-img w-50 bg-transparent rounded-circle" alt="...">
            <div class="card-body">
                <h5 class="card-title text-start">ANG Informatica</h5>
                <p class="card-text text-start">(2008 - 2011) Reparacion y mantenimiento de pc y redes</p>
            </div>
        </div>
        <div class="card bg-transparent border-0">
            <img src="./../assets/imagenes/logodetecnoaccion.jpg" class="card-img w-50 rounded-pill" alt="...">
            <div class="card-body">
                <h5 class="card-title text-start">Tecno Accion</h5>
                <p class="card-text text-start">(2012 - Actualidad) instalacion de equipos satelitales, mantenimiento de
                    servidores, redes tcp ip, intalacion PTP y MTP tecnologia Ubiquiti</p>
            </div>
        </div>
    </div>
</div>